<%- include('partials/header') %>

<h1 style="text-align: center;">Welcome to Venus</h1>
<p style="text-align: center; margin-bottom: 70px;">Your digital platform to connect all your online profiles in one place.
    Whether you're a job seeker, freelancer, or professional, Venus helps you organize and share your online
    presence effortlessly.</p>
<div class="cards-container">
    <div class="card" style="width: 18rem;">
        <img src="assets/profile1.jpeg" class="card-img-top" alt="profile1">
        <div class="card-body">
            <h5 class="card-title">Hania Ramazan</h5>
            <p class="card-text">Passionate developer crafting innovative solutions.</p>
            <a href="#" class="btn btn-primary">Click for more</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/profile2.jpeg" class="card-img-top" alt="profile2">
        <div class="card-body">
            <h5 class="card-title">Nehsoon</h5>
            <p class="card-text">Passionate developer crafting innovative solutions.</p>
            <a href="#" class="btn btn-primary">Click for more</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/profile3.jpeg" class="card-img-top" alt="profile3">
        <div class="card-body">
            <h5 class="card-title">Rowaifa</h5>
            <p class="card-text">Passionate developer crafting innovative solutions.</p>
            <a href="#" class="btn btn-primary">Click for more</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/profile4.jpeg" class="card-img-top" alt="profile4">
        <div class="card-body">
            <h5 class="card-title">Merub Amir</h5>
            <p class="card-text">Passionate developer crafting innovative solutions.</p>
            <a href="#" class="btn btn-primary">Click for more</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/profile5.jpeg" class="card-img-top" alt="profile5">
        <div class="card-body">
            <h5 class="card-title">Amna</h5>
            <p class="card-text">Passionate developer crafting innovative solutions.</p>
            <a href="#" class="btn btn-primary">Click for more</a>
        </div>
    </div>

</div>

<%- include('partials/footer') %>